.page-content {
  --background: var(--ion-color-light);

  .post-card {
    outline: none;

    .item-native {
      background: #209CEE;
    }
    .read-more-label {
      text-align: right;
    }
  }
}