<ion-header>
  <ion-toolbar color="primary">
    <ion-title *ngIf="!categoryTitle" [routerLink]="['/posts']">Conteúdo por Francisco Matelli - Assine</ion-title>
    <ion-title *ngIf="categoryTitle">{{categoryTitle}} posts</ion-title>
    <ion-buttons slot="start" DDDngIf="categoryTitle">
      <ion-back-button defaultHref="posts"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button *ngIf="(loggedInObservable | async) === false" [routerLink]="['/login']">Entrar
      </ion-button>
      <ion-button *ngIf="(loggedInObservable | async) === true" (click)="logOut()">Sair
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="page-content">
  <ion-card *ngFor="let post of posts" [routerLink]="['/post', post.id]" class="post-card">
    <ion-card-header>
      <ion-card-title [innerHTML]="post.title.rendered"></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p [innerHTML]="post.excerpt.rendered"></p>
    </ion-card-content>
    <ion-item class="ion-activated" detail lines="none">
      <ion-label *ngIf="!post.modified">{{post.date | date}}</ion-label><ion-label *ngIf="post.modified">{{post.date | date}}</ion-label>
      <ion-label class="read-more-label">Ler mais</ion-label>
    </ion-item>
  </ion-card>
  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Carregando mais conteúdo ...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
