<ion-header>
  <ion-toolbar>
    <ion-title>Respeitável público, escolha sua atração!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">

  <ion-card color="tertiary" [routerLink]="['/posts']">
    <img DDDsrc="assets/img/card-saopaolo.png"/>
    <div class="card-title">Blog</div>
    <div class="card-subtitle">Conteúdo para ler, se distrar e se informar!</div>
  </ion-card>

  <ion-card color="secondary" [routerLink]="['/videos']">
    <img DDDsrc="assets/img/card-amsterdam.png"/>
    <div class="card-title">Vídeos</div>
    <div class="card-subtitle">Várias iniciativas reunidas em um só lugar!</div>
  </ion-card>

  <ion-card color="success">
    <img DDDsrc="assets/img/card-sf.png"/>
    <div class="card-title">Arte</div>
    <div class="card-subtitle">Logos, diagramas, impressos e mais!</div>
  </ion-card>

  <ion-card color="warning">
    <img DDDsrc="assets/img/card-madison.png"/>
    <div class="card-title">Produtos</div>
    <div class="card-subtitle">Aquilo que eu faço e tem preço!</div>
  </ion-card>

</ion-content>
